* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    color: goldenrod;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: #fff;
}

.regis-box {
    position: relative;
    width: 500px;
    height: 550px;
    background: #1e2d51;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border-radius: 10px;
}

.regis-box h2 {
    font-size: 2em;
    color: inherit;
    text-align: center;
    margin-bottom: 30px;
}

.user-box {
    position: relative;
    width: 300px;
    margin-bottom: 40px 0;
    border-bottom:2px solid white;
}

.user-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: white;
    pointer-events: none;
    transition: .5s;
}

.user-box input:focus~label,
.user-box input:valid~label {    
    top: -5px;
}

.user-box input {
    width: 100%;
    height: 60px;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 1em;
    padding: 0 5px;
}

button {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    background: goldenrod;
    color: #1e2d51;
    font-size: 1.1em;
    font-weight: bold;
    border-radius: 40px;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-top: 10px;
}

.user-box .icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 1.2em;
    color: white;
}

.login-link {
    margin-top: -15px 0 15px;
    font-size: .9em;
    color: white;
    display : flex;
    justify-content: space-between;
}

.login-link p {
    color : white;
}

.login-link a {
    color : goldenrod;
    text-decoration: none;
    font-weight: bold;
}

.login-link a:hover {
    text-decoration: underline;
}

@media (max-width: 500px) {
    .regis-box {
        width: 100%;
        height: 100vh;
        border: none;
        border-radius: 0;
    }

    .user-box {
        width: 290px;
    }
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}
